In [1]:
from helper import build_df
import pandas as pd

In [87]:
def create_df():
    countries = ['ES', 'FR']

    empty_list = []

    for i in range(len(countries)):
        empty_list.append(build_df(listOfCountries = [countries[i]]))
    
    all_frames = pd.concat(empty_list)
    all_framesV2 = all_frames.copy().drop_duplicates(subset=['video_id'])
    all_frames["count"] = 1

    countries_df= all_frames[["video_id","country","count"]]
    countries_pivot = countries_df.pivot(index="video_id", columns="country", values="count").reset_index()

    f_df = all_framesV2.merge(countries_pivot, on="video_id", how="inner")

    return  all_frames, f_df

all_frames, f_df  = create_df()

Dataframe Created!
Dataframe Created!

In [90]:
f_df.loc[f_df["video_id"] == "HOjjZBUlnHo"]

,channel_id,video_id,publishedAt,title,viewCount,likeCount,dislikeCount,commentCount,duration,thumbnail,...,channel_subs,birth_of_channel,country_of_the_channel,channel_thumbnail,upload_playlist,category_title,country,count,ES,FR
28,UCbcxFkd6B9xUU54InHv4Tig,HOjjZBUlnHo,2021-04-25T20:02:18Z,Rafael Nadal vs Stefanos Tsitsipas | Barcelona...,664093,12254,198,1802,PT8M19S,https://i.ytimg.com/vi/HOjjZBUlnHo/mqdefault.jpg,...,623000,2006-01-12T01:36:35Z,GB,https://yt3.ggpht.com/ytc/AAUvwnh9wYy4YTDdNn9R...,UUbcxFkd6B9xUU54InHv4Tig,Sports,ES,1,1.0,1.0