In [173]:
import pandas as pd
import numpy as np

In [174]:
df = pd.read_csv("../data/test_df.csv", index_col=0).fillna(0)

In [180]:
c = "MX"
c_1 = df.loc[df[f"{c}"] == 1].head(4).transpose().to_dict()

In [73]:
df.sort_values(by="sum_of_countries", ascending=False).iloc[0:1,24:-1].reset_index().iloc[:,1:].transpose().reset_index().rename(columns={0:"counts"}).query('counts >0').set_index("index").transpose().columns

Index(['AR', 'AU', 'BO', 'BR', 'CA', 'CL', 'CO', 'CR', 'DE', 'EC', 'ES', 'FR',
       'GB', 'IN', 'IT', 'JP', 'KR', 'MX', 'PE', 'PT', 'US', 'UY'],
      dtype='object', name='index')

In [192]:
empty_countries = []
countries_f = df.country.drop_duplicates()

for i in range(len(countries_f)):
    empty_countries.append(countries_f[i])

In [206]:
df.country.drop_duplicates().reset_index()["country"].to_list()

['AR',
 'AU',
 'BO',
 'BR',
 'CA',
 'CL',
 'CO',
 'CR',
 'DE',
 'EC',
 'ES',
 'FR',
 'GB',
 'IN',
 'IT',
 'JP',
 'KR',
 'MX',
 'PE',
 'PT',
 'US',
 'UY']

In [172]:
def get_flags(videos = 5):
    flag_list = []

    for i in range(videos):
        valueOne = i
        valueTwo = i+1
        flags = df.sort_values(by="sum_of_countries", ascending=False).iloc[valueOne:valueTwo,24:-1].reset_index().iloc[:,1:].transpose().reset_index().rename(columns={0:"counts"}).query('counts >0').set_index("index").transpose().columns
        flag_list.append([])
        
        for si in range(len(flags)):
            flag_list[i].append(flags[si])
    
    return flag_list

fl = get_flags(videos = 5)

data = fl[0]

In [154]:
trending = df.sort_values(by="sum_of_countries", ascending=False).iloc[0:5,:].reset_index()
trending

,index,channel_id,video_id,publishedAt,title,viewCount,likeCount,dislikeCount,commentCount,duration,...,IN,IT,JP,KR,MX,PE,PT,US,UY,sum_of_countries
0,147,UCdq61m8s_48EhJ5OM_MCeGw,hAxqygRdM4g,2021-04-21T11:00:14Z,Earth Day 2021 Doodle,0.0,0.0,0.0,0.0,PT40S,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,22.0
1,199,UCE_M8A5yxnLfW0KghEeajjw,JdBYVNuky1M,2021-04-20T18:05:50Z,Apple Event — April 20,9199836.0,332011.0,9288.0,0.0,PT1H1M3S,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,19.0
2,140,UCF_fDSgPpBQuh1MsUTgIARQ,LIIDh-qI9oI,2021-04-23T04:00:06Z,The Weeknd & Ariana Grande - Save Your Tears (...,19725750.0,1391422.0,18043.0,67694.0,PT3M26S,...,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,19.0
3,144,UCPz7kwpT81YteDXSzSKpDLw,GUfRAu_pEY0,2021-04-23T04:00:14Z,LILHUDDY - America's Sweetheart (Official Musi...,5338000.0,478201.0,22814.0,39055.0,PT3M30S,...,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,19.0
4,127,UCtTfSyci2urfwXXu_eRpNRA,YspVHSxhncI,2021-04-23T14:00:16Z,Lil Nas X - MONTERO (Call Me By Your Name) (Bu...,5567468.0,689422.0,12213.0,32904.0,PT2M19S,...,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,19.0

In [12]:
empty_list= []
for i in range(len(trending)):
    empty_list.append(trending[i])

empty_list[0]

{'index': 147,
 'channel_id': 'UCdq61m8s_48EhJ5OM_MCeGw',
 'video_id': 'hAxqygRdM4g',
 'publishedAt': '2021-04-21T11:00:14Z',
 'title': 'Earth Day 2021 Doodle',
 'viewCount': 0.0,
 'likeCount': 0.0,
 'dislikeCount': 0.0,
 'commentCount': 0.0,
 'duration': 'PT40S',
 'thumbnail': 'https://i.ytimg.com/vi/hAxqygRdM4g/mqdefault.jpg',
 'link': 'https://youtu.be/hAxqygRdM4g',
 'video_lang': 'en',
 'categoryId': 1,
 'description': 'This year’s annual Earth Day Doodle highlights how everyone can plant the seed to a brighter future—one sapling at a time.\nHappy Earth Day 2021!\n\nLearn more: http://www.google.com/doodles/earth-day-2021\n\n-------\n\nTo follow Google Doodles on YouTube, subscribe to:  @GoogleDoodles \nFollow Google Doodles on Twitter at: https://twitter.com/GoogleDoodles',
 'channel_title': 'GoogleDoodles',
 'number_of_views': 410651891,
 'published_videos': 80,
 'channel_subs': 1910000.0,
 'birth_of_channel': '2011-08-18T18:16:08Z',
 'country_of_the_channel': 0,
 'channel_thumbnail': 'https://yt3.ggpht.com/ytc/AAUvwniGo6-1ov3MW_MXvaos0b9MI2E3ALJG5DPEsnh5_g=s240-c-k-c0x00ffffff-no-rj',
 'upload_playlist': 'UUdq61m8s_48EhJ5OM_MCeGw',
 'category_title': 'Film & Animation',
 'country': 'AR',
 'AR': 1.0,
 'AU': 1.0,
 'BO': 1.0,
 'BR': 1.0,
 'CA': 1.0,
 'CL': 1.0,
 'CO': 1.0,
 'CR': 1.0,
 'DE': 1.0,
 'EC': 1.0,
 'ES': 1.0,
 'FR': 1.0,
 'GB': 1.0,
 'IN': 1.0,
 'IT': 1.0,
 'JP': 1.0,
 'KR': 1.0,
 'MX': 1.0,
 'PE': 1.0,
 'PT': 1.0,
 'US': 1.0,
 'UY': 1.0,
 'sum_of_countries': 22.0}